.input {
    --size: 1em;
    position: relative;
}
.input input {
    --background-color: var(--white);
    width: 100%;
    margin: 10px 0;
    outline: none;
    border: solid 1px var(--border-input);
    padding: 10px 15px;
    border-radius: 3px;
    box-sizing: border-box;
    background: var(--background-color);
    outline: none;
    font-size: 13px;
    color: #000;
    font-weight: 400;
}
.input input::placeholder {
    color: var(--gray);
}
.input input:focus-visible {
    border: solid 1px var(--main);
}
.input .icon {
    width: var(--size);
    height: var(--size);
    position: absolute;
    right: 1em;
    top: 50%;
    transform: translateY(-50%);
    fill: var(--main);
}
textarea {
    font-family: 'Roboto', Helvetica, sans-serif;
    --background-color: var(--white);
    width: 100%;
    margin: 10px 0;
    outline: none;
    border: solid 1px var(--border-input);
    padding: 10px 15px;
    border-radius: 3px;
    box-sizing: border-box;
    background: var(--background-color);
    outline: none;
    color: var(--gray);
    font-size: 13px;
    color: #000;
    font-weight: 400;
    min-height: 85px;
    resize: none;
}
textarea:focus-visible {
    border: solid 1px var(--main);
}
textarea::placeholder {
    color: var(--gray);
}