.simple-container {
    display: grid;
    grid-template-columns: 1fr 258px;
    gap: 20px;
}
.main__page {
    box-shadow: 0px 1px 30px 1px #00000033;
    border-radius: 10px;
}
.header {}
.nav {
    display: flex;
    background: var(--ligth-gray);
    align-items: center;
    margin-bottom: 2em;
}
.nav__item {
    --be-af-width: 15px;
    --tranform: skew(20deg);
    --radius: 0 20px 0 0;
    --rigth-left: 10px;
    --z-index: 50;
    position: relative;
    background: var(--ligth-gray);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-right: 15px;
    padding: 10px 25px;
}
.nav__item.sub_item {

}
.nav__item:before {
    content: '';
    position: absolute;
    top: 0px;
    width: var(--be-af-width);
    height: 100%;
    background: var(--ligth-gray);
    left: calc(-1 * var(--rigth-left));
    transform: skew(-20deg) scaleX(-1);
    border-radius: var(--radius);
    z-index: calc(var(--z-index) - 10);
}
.nav__item:after {
    content: '';
    position: absolute;
    top: 0;
    margin-left: 5px;
    width: var(--be-af-width);
    height: 100%;
    background: var(--ligth-gray);
    right: calc(-1 * var(--rigth-left));
    transform: var(--tranform);
    border-radius: var(--radius);
    z-index: var(--z-index);
    box-shadow: 5px -2px 6px #ddddddcf;
}
.nav .nav__item:first-child { border-top-left-radius: revert; }
.nav .nav__item:nth-last-child(1) { border-top-right-radius: revert; }
.nav .nav__item:first-child:before{all: revert;}
.nav .nav__item:nth-last-child(1):after{all: revert;}
.nav .nav__item:nth-last-child(1):before{box-shadow: 0px -3px 0px 0px #dddddde6;}
.nav__link {
    z-index: 100;
    color: var(--black);
    text-decoration: none;
}
.line {
    width: 100%;
    margin-bottom: 2em;
}
.line__item {
    border-bottom: solid 1px var(--ui-color);
}
.line__item.--orange {
    width: 5%;
    border-bottom: solid 3px var(--ui-color);
}
.breadcrumbs {
    display: inline-flex;
    margin-bottom: 3rem;
    padding: 0 20px;
}
.breadcrumbs_item {
    font-size: 14px;
    font-weight: 400;
    line-height: 1em;
    color: var(--black);
    text-decoration: none;
    transition: 200ms;
}
.breadcrumbs_item:hover {
    color: var(--main);
}
.breadcrumbs_item::after {
    content: '\203a';
    padding: 0 10px;
    color: var(--black);
    font-size: 1rem;
}
.breadcrumbs_item:last-child {color: var(--main);}
.breadcrumbs_item:last-child::after {
    content: '';
}
.breadcrumbs_item:last-child:hover {}
/*breadcrumbs*/
.main__card-container {
    display: grid;
    grid-template-columns: 337px 1fr;
    gap: 35px;
    align-items: start;
    padding: 0 20px;
}
.card__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 30px 0px #0000009e;
    border-radius: 10px;
}
.card__box {
    background: var(--white);
    padding: 20px;
    border-radius: 20px;
    position: relative;
}
.card__box .button {
    --padding-top-bottom: 23px;
    --font-size: 20px;
    width: 100%;
}
.card__item-icons {
    --left-top: -35px;
    position: absolute;
    display: flex;
    gap: .5em;
    flex-direction: column;
    left: var(--left-top);
    top: var(--left-top);
}
.card__item-icons .icon {
    --icon-size: 70px;
    cursor: pointer;
    transition: 200ms;
}
.card__item-icons .icon:hover {
    transform: rotate(15deg);
}
.card__box-img {}
.card__box-img img {width: 100%}
.card__box-header__grid {
    display: grid;
    grid-template-columns: 1fr 55px;
    gap: 20px;
}
.card__box-header {}
.card__box-title {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5em;
    margin-bottom: 1em;
}
.card__box-icons {}
.card__box-icons--item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: var(--blue);
    padding: 10px;
    margin-bottom: 5px;
    border-radius: var(--b-radius);
    cursor: pointer;
    transition: 200ms;
}
.card__box-icons--item span {
    color: var(--black);
    font-size: 10px;
    font-weight: 300;
}
.card__box-icons--item .icon {
    --icon-size: 13px;
    margin-right: 3px;
    fill: var(--main);
}
.card__box-icons--item:hover {
    background: var(--main);
}
.card__box-icons--item:hover .icon {
    fill: var(--blue);
}
.card__box-price {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.5em;
}
.card__box-market {
    margin-bottom: .5em;
    color: var(--gray);
}
.card__market-context {
    display: grid;
    grid-template-columns: 60px 150px 100px;
    gap: 5px;
    align-items: center;
}
.card__market-price {}
.card__market-sub {
    display: flex;
    gap: 10px;
    align-items: center;
}
.card__market-sub .icon {
    --icon-size: 15px;
    fill: var(--gray);
}
.card__box-market .--in-stock {
    color: var(--black);
}
.--in-stock .icon {
    fill: var(--main);
}
.--in-stock .card__market-count {
    background: var(--blue);
}
.card__market-sub span {
    font-size: 12px;
    font-weight: 300;
    line-height: 1.5em;
}
.card__market-count {
    position: relative;
    background: var(--ligth-gray);
    border-radius: var(--b-radius);
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.count__style {
    --width: 12px;
    --volume: 2px;
    --color: #333;
    --rotate: rotate(90deg);
    --position: 15px;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    line-height: 1;
    font-size: 30px;
    cursor: pointer;
    width: var(--width);
    height: var(--width);
    overflow: hidden;
    transition: 200ms;
}
.count__style:hover {
    --color: var(--main)
}
.count__style:before {
    transform: var(--rotate);
    position: absolute;
    top: 0;
    left: 50%;
    content: '';
    height: var(--width);
    width: 0;
    border: solid var(--color);
    border-width: 0px var(--volume) 0 0;
    background-color: var(--color);
}
.count__style:after {
    transform: calc(-1 * var(--rotate));
    position: absolute;
    top: 0;
    left: 50%;
    content: '';
    height: var(--width);
    width: 0;
    border: solid var(--color);
    border-width: 0px var(--volume) 0 0;
    background-color: var(--color);
}
.card__box-footer--icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px 0;
}
.card__box-footer--icons .icon {
    --icon-size: 64px;
}

.decrement {left: var(--position);}
.decrement.count__style:after {all: revert}
.incremenе {right: var(--position);}
.card__descr {}
.card__title {}
.card__options {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 2em;
}
.card__options-items {
    display: flex;
    gap: 10px;
    margin-bottom: 0.5em;
}
.card__options-list {}
.card__options-text {}
.card__options-sub {}
.card__options--subicons {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 150px));
    gap: 20px;
    margin-bottom: 2em;
}
.card__subicons {
    --color: var(--width);
    --size: 12px;
    display: flex;
    gap: var(--size);
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    padding: 20px 0;
    transition: 200ms;
    text-decoration: none;
    color: var(--black);
}
.card__subicons:hover .card__subicons-text {
    color: var(--main);
}
.card__subicons-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color);
    border: solid 1px var(--color);
    border-radius: 50%;
    box-shadow: 0px 1px 5px 1px #00000033;
    width: calc(var(--size) * 2);
    height: calc(var(--size) * 2);
}
.card__subicons-icon .icon {
    --icon-size: var(--size);
}
.card__subicons-text {
    font-size: 12px;
    font-weight: 300;
    line-height: 1.5em;
}
.other__card {
    margin-bottom: 2em;
}
.other__card-head {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}
.other__card-icon .icon{
    --icon-size: 25px;
}
.other__card-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 10px;
}
.other__card-item {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 1px 5px 1px #00000033;
    text-decoration: none;
    color: var(--black);
    transition: 200ms;
}
.other__card-item:hover {
    box-shadow: rgb(0 0 0 / 20%) 0px 4px 26px;
}
.other__card-item--img img {
    width: 100%;
}
.other__card-item--box {
    display: grid;
    grid-template-columns: 1fr 55px;
    gap: 10px;
}
.other__card-item--title {
    font-size: 12px;
    font-weight: 300;
    line-height: 1.5em;
}
.other__card-list .card__box-icons--item {
    padding: 5px;
}
.other__card-list .card__box-icons--item span{
    font-size: 10px;
}
.other__card-list .card__box-icons--item .icon {
    --icon-size: 10px;
}
.articles {
    display: grid;
    grid-template-columns: 240px 1fr;
    gap: 10px;
    padding: 20px;
    box-shadow: 0px 1px 17px 1px #00000033;
    border-radius: 10px;
    margin-bottom: 2em;
}
.articles__content-img {}
.articles__content-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.articles__content {}
.articles__content-text{
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5em;
    margin-bottom: 2em;
}
.articles__content-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.articles__content-socials {
    --size: 20px;
    display: flex;
    gap: calc(var(--size) * 1.5);
}
.articles__content-socials a {text-decoration: none; display: block}
.articles__content-socials .icon {
    --icon-size: var(--size);
    fill: var(--gray);
}
.articles__content-socials .icon:hover {
    fill: var(--main);
}
.notice {
    padding: 20px;
    margin-bottom: 2em;
    box-shadow: 0px 1px 17px 1px #00000033;
    border-radius: 10px;
}
.notice .line {
    margin-bottom: 5px;
}
.notice__title {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5em;
    margin-bottom: 1em;
}
.notice__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-bottom: 1em;
}
.notice__content {
    display: grid;
    grid-template-columns: 70px 1fr;
    gap: 5px;
    text-decoration: none;
    transition: 200ms;
}
.notice__content:hover {
    box-shadow: rgb(0 0 0 / 9%) 0px 1px 8px;
}
.notice__content-img {}
.notice__content-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.notice__content-text {
    --clamp: 6;
    display: -webkit-box;
    -webkit-line-clamp: var(--clamp);
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.5em;
    color: var(--black);
}

/*stars*/
.stars input {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    display: none;
}
.stars label {
    --size: 14px;
    box-sizing: border-box;
    display: inline-block;
    margin-right: 6px;
    height: var(--size);
    width: var(--size);
    background: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
    font-size: 0;
    background-size: var(--size);
    background-repeat: no-repeat;
    cursor: pointer;
}
.stars input:nth-child(1):checked ~ label:nth-of-type(-n + 1),
.stars input:nth-child(2):checked ~ label:nth-of-type(-n + 2),
.stars input:nth-child(3):checked ~ label:nth-of-type(-n + 3),
.stars input:nth-child(4):checked ~ label:nth-of-type(-n + 4),
.stars input:nth-child(5):checked ~ label:nth-of-type(-n + 5) {
    background: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
    background-size: var(--size);
    background-repeat: no-repeat;
}
/*stars*/

.notice__reviews {
    text-decoration: none;
    color: var(--black);
}
.notice__reviews-head {
    display: flex;
    gap: 5px;
    margin-bottom: 1em;
}
.notice__reviews-head__img {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    text-decoration: none;
    color: var(--black);
}
.notice__reviews-head__img img {
    object-fit: cover;
    width: 100%;
}
.notice__reviews-head__name {
    text-decoration: none;
    color: var(--black);
}
.notice__reviews-footer {
    display: flex;
    gap: 5px;
    align-items: flex-end;
}
.notice__reviews-footer__stars {}
.notice__reviews-footer__date {
    font-size: 10px;
    font-weight: 300;
}
.notice__reviews-content {
    --clamp: 5;
    display: -webkit-box;
    -webkit-line-clamp: var(--clamp);
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.5em;
    margin-bottom: 1em;
    text-decoration: none;
    color: var(--black);
}

.aside {
    padding: 20px;
    box-shadow: 0px 1px 30px 1px #00000033;
    border-radius: 10px;
}
.aside__catalog {}
.aside__catalog-item {}
.aside__catalog-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5em;
    margin-bottom: 1em;
}

.aside__catalog--list {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 0;
}
.aside__catalog--list:not(:first-child){
    border-top: solid 1px var(--ligth-gray);
}
.aside__catalog--list:nth-last-child(1) {
    border-bottom: solid 1px var(--ligth-gray);
}
.aside__catalog--list_icon {}
.aside__catalog--list_icon .icon {
    --icon-size: 25px;
    display: block;
}
.aside__catalog--list_sub {
    font-size: 12px;
    font-weight: 300;
    line-height: 1.5em;
}
.aside__catalog {}



@media (max-width: 1024px) {
    /*я устал )*/
}